{% extends 'main/base.html' %}
{% load humanize %}
{% load custom_tags %}

{% block content %}

<div class="container-fluid table" style="line-height: 0.5; font-size:73%;">

        <table id="categories" class="table table-hover col-6">
          <thead>
            <tr class="text-uppercase">
              <th scope="col" style="width: 100%">Category</th>
              <th align="right" scope="col" style="width: 40%">Budget</th>
              <th align="right" scope="col" style="width: 40%">Activity</th>
              <th align="right" scope="col" style="width: 40%">Balance</th>
            </tr>
          </thead>
          <tbody>
            
            {% for group in budget_groups %}
              {% if group.group_type == 'I' %}
              <tr class="table-success font-weight-bold">
              {% elif group.group_type == 'Z' %}
              <tr class="table-active font-weight-bold">
              {% else %}
              <tr class="table-danger font-weight-bold">
              {% endif %}
  	            <td>{{group.get_budget_group}}</td>
  	            <td align="right"></td>
  	            <td align="right"></td>
  	            <td align="right"></td>
              </tr>
              {% for category in categories %}
                {% if category.account_group == group %}
                  <tr>
                    <td>{{category.name}}</td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                  </tr>
                {% endif %} 
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
</div>

{% endblock %}

{% block navbar %}
<a href={% url 'budget' previous_month.year previous_month.month %} style="color:black" class='pl-5'><span class="oi oi-caret-left mr-2"></span></a>
<div class="btn btn-success font-weight-bold">{{ month_abbr|upper }} {{ year }}</div>
<a href={% url 'budget' next_month.year next_month.month %} style="color:black"><span class="oi oi-caret-right ml-2"></span></a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'add_category' year month %}"><button type="button" class="btn btn-outline-secondary">Add Category</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'add_group' year month %}"><button type="button" class="btn btn-outline-secondary">Add Group</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href='#'>
    <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search"></a>
  </li>

   </ul>
</div>
{% endblock navbar %}

{% block js %}
<script>
  $('.delete_category').click(function() {
	  if(confirm("Are you sure?")) {
		  $.ajax({
			  type: "POST",
			  url: ,
			  data: { id: $(this).attr('name'), csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function() {
          location.reload(true);
        }
		  });
	  };
  });
</script>

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#categories tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock js %}