{% extends 'main/base.html' %}
{% load humanize %}
{% load custom_tags %}

{% block content %}

<div class="container-fluid table" style="line-height: 0.8; font-size:80%;">

        <table id="categories" class="table table-hover col-6">
          <thead>
            <tr>
              <th scope="col" style="width: 100%">Category</th>
              <th align="right" scope="col" style="width: 40%">Budget</th>
              <th align="right" scope="col" style="width: 40%">Activity</th>
              <th align="right" scope="col" style="width: 40%">Available</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
	            <td>Inflows</td>
	            <td></td>
	            <td></td>
	            <td></td>
            </tr>            
            {% for category in category_list %}
            {% if category.account_type.name == 'Inflow' %}
            <tr>
	            <td><a href={% url 'edit_category' year month category.pk %}>{{ category.name }}</td></a>
	            <td align="right"><a href={% url 'edit_budget' year month category.pk %}>{% category_method category 'get_budget' year month %}</td></a>
	            <td align="right">{% category_method category 'get_balance' year month %}</td>
              <td align="right">{% category_method_abs category 'get_available' year month %}</td>
            </tr>
            {% endif %}  
            {% endfor %}
            <tr class="table-primary">
	            <td>Outflows</td>
	            <td></td>
	            <td></td>
	            <td></td>
            </tr>   
            {% for category in category_list %}
            {% if category.account_type.name == 'Outflow' %}
            <tr>
	            <td><a href={% url 'edit_category' year month category.pk %}>{{ category.name }}</td></a>
	            <td align="right"><a href={% url 'edit_budget' year month category.pk %}>{% category_method category 'get_budget' year month %}</td></a>
	            <td align="right">{% category_method category 'get_balance' year month %}</td>
	            <td align="right">{% category_method_abs category 'get_available' year month %}</td>
            </tr>
            {% endif %} 
            {% endfor %}
          </tbody>
        </table>
</div>

{% endblock %}

{% block navbar %}
<a href={% url 'budget' previous_month.year previous_month.month %} style="color:black"><span class="oi oi-caret-left"></span></a>&nbsp&nbsp
<div class="btn btn-success">{{ year }} - {{ month }}</div>&nbsp&nbsp
<a href={% url 'budget' next_month.year next_month.month %} style="color:black"><span class="oi oi-caret-right"></span></a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'add_category' year month %}"><button type="button" class="btn btn-outline-secondary">Add Category</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href='#'>
    <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search"></a>
  </li>

   </ul>
</div>
{% endblock navbar %}

{% block js %}
<script>
  $('.delete_category').click(function() {
	  if(confirm("Are you sure?")) {
		  $.ajax({
			  type: "POST",
			  url: ,
			  data: { id: $(this).attr('name'), csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function() {
          location.reload(true);
        }
		  });
	  };
  });
</script>

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#categories tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock js %}