{% extends 'main/base.html' %}
{% load humanize %}

{% block content %}

<div class="container-fluid table" style="line-height: 0.8; font-size:80%;">
    <form action="{% url 'transactions' active.pk %}" method="post" onsubmit="return confirm('Are you sure?')">
        {% csrf_token %}
        <table id="transactions" class="table table-hover table-sm">
          <thead>
            <tr>
              <th class="bs-checkbox" style="width: 3%"><input data-index="0" name="btSelectItem" type="checkbox" id="select_all"></th>
              <th scope="col" style="width: 8%">Date</th>

              {% if active.pk == 0 %}
              <th scope="col" style="width: 20%">Account</th>
              {% endif %}

              <th scope="col" style="width: 20%">Category / Account</th>
              <th scope="col" style="width: 30%">Description</th>
              <th scope="col" style="width: 3%"><span class="oi oi-transfer"></span></th>
              <th scope="col" class="text-right" style="width: 5%">Amount</th>
              <th scope="col" class="text-right" style="width: 5%">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions_list %}
            <tr>
              <td class="bs-checkbox"><input data-index="0" name="id" value="{{ transaction.id }}" type="checkbox"></td>
              <td>{{ transaction.date|date:"SHORT_DATE_FORMAT" }}</td>

              {% if active.pk == 0 %}
              <td>{{ transaction.from_account}}</td>
              {% endif %}

              {% if transaction.to_account.pk != active.pk %}
              <td>{{ transaction.to_account}}</td>
              {% else %}
              <td>{{ transaction.from_account}}</td>
              {% endif %}

              <td>{{ transaction.description }}</td>

              {% if transaction.to_account in pay_accounts and transaction.from_account in pay_accounts %}
              <td><span class="oi oi-transfer" style="color:blue"></span></td>
              {% elif transaction.to_account in pay_accounts and transaction.amount > 0 %}
              <td><span class="oi oi-arrow-left" style="color:green"></span></td>
              {% else %}
              <td><span class="oi oi-arrow-right" style="color:red"></span></td>
              {% endif %}

              {% if transaction.to_account.pk == active.pk %}
              <td align="right">{{ transaction.amount|floatformat:2|intcomma}}</td>
              {% else %}
              <td align="right">{{ transaction.negative_amount|floatformat:2|intcomma}}</td>
              {% endif %}
              <td align="right">&nbsp<a href="{% url 'edit_transaction' active.pk transaction.pk %}">
                <span class="oi oi-eye">&nbsp&nbsp</span></a><a href="javascript:// Delete" class="delete_transaction" ="delete" name="{{ transaction.pk }}"><span class="oi oi-trash"></span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Delete Selection</button>
    </form>
</div>

{% endblock %}

{% block js %}

<script>
  $('.delete_transaction').click(function() {
	  if(confirm("Are you sure?")) {
		  $.ajax({
			  type: "POST",
			  url: '{% url 'transactions' active.pk %}',
			  data: { id: $(this).attr('name'), csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function() {
          location.reload(true);
        }
		  });
	  };
  });
</script>

<script>
  $('#select_all').click(function() {
    var c = this.checked;
    $('[type=checkbox]').prop('checked',c);
  });
</script>

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#transactions tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock js %}
